.project-box__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: #212121;
}

.project-box__type {
    font-size: 16px;
    line-height: 1.88;
    color: #757575;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-gallery {
    position: relative;
    overflow: hidden;
}


.portfolio-gallery__desc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translate(0, 100%);
    transition: transform var(--transition-dur-and-fun);

    background: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    font-weight: 400;
    color: #FFFFFF;
    padding: 63px 24px;

    .portfolio__link:hover &,
    .portfolio__link:focus & {
        transform: translate(0, 0);
    }
}

.portfolio-gallery__cards {
    flex-basis: calc((100% - 60px)/3);
    display: block;
}

.project-box {
    padding: 20px 24px;
    background: #FFFFFF;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.portfolio__link {
    display: block;

    transition: box-shadow var(--transition-dur-and-fun);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}