.clients-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    cursor: pointer;

    transition: border-color var(--transition-dur-and-fun);

    &:hover,
    &:focus {
    border-color: var(--accent-color);
    }
}

.clients-icon {
    fill: #AFB1B8;
    transition: fill var(--transition-dur-and-fun);
}

.clients-list>li:not(:last-child) {
    margin-right: 30px;
}

.clients-link:hover svg,
.clients-link:focus svg {
    fill: var(--accent-color);
}