.menu-btn__portfolio {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    color: #212121;
    background: #F5F4FA;

    padding: 6px 22px;
    border-radius: 4px;
    border: none;
    text-align: center;
    min-width: 73px;

    transition: color var(--transition-dur-and-fun), background-color var(--transition-dur-and-fun), box-shadow var(--transition-dur-and-fun);

    &:hover,
    &:focus {
        color: #FFFFFF;
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
}


.menu-btn {
    justify-content: center;
    margin-bottom: 50px;
}

.menu-btn__item:not(:last-child) {
    margin-right: 8px;
}



