footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.logo-footer {
    color: #FFFFFF;
}

.contact-footer__adress {
    margin-bottom: 9px;
}

.contact-footer {
    margin-top: 20px;
}

.contact-footer__map {
    font-style: normal;
    line-height: 1.71;
    color: #FFFFFF;

    transition: color var(--transition-dur-and-fun);

    &:hover,
    &:focus {
    color: var(--accent-color);
    }
}



.contact-footer__mail {
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);

    transition: color var(--transition-dur-and-fun);

    &:hover,
    &:focus {
    color: var(--accent-color);
    }
}

.contact-footer__phone- {
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);

    transition: background-color var(--transition-dur-and-fun);

    &:hover,
    &:focus {
    color: var(--accent-color);
    }
}

.social__list {
    display: flex;
}

.social {
    margin-left: 70px;
}

.social__list>li:not(:last-child) {
    margin-right: 10px;
}

.social__title {
    color: #FFFFFF;
    margin-bottom: 20px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: background-color var(--transition-dur-and-fun);

    &:hover,
    &:focus {
    background-color: var(--accent-color);
    }
}

.social__icon {
    fill: #FFFFFF;
}

.subscribe-wrapper {
    margin-left: auto;
}

.subscribe-wrapper__modal-form {
    display: flex;
}

.subscribe-wrapper__descr {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.subscribe-wrapper__input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    border-radius: 4px;
    margin-right: 12px;
    height: 50px;
    cursor: pointer;
    padding: 15px 16px;
    width: 358px;
    outline: none;
    color: #FFFFFF;
}

.subscribe-wrapper__btn {
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    border: none;
    padding: 10px 28px;
    min-width: 200px;
    display: flex;
    align-items: center;
    transition: background-color var(--transition-dur-and-fun);

    &:hover,
    &:focus {
    background-color: #188CE8;
    }
}

.subscribe-wrapper__icon {
    fill: #FFFFFF;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}